@import "functions";
@import "variables";
@import "mixins";

$font-family-sans-serif: 'Mukta Mahee', arial, sans-serif;
$font-family-serif: 'Playfair+Display', times, serif;

body {
	background: $white;
	font-family: $font-family-sans-serif;
	font-weight: 200;
	font-size: 16px;
	line-height: 1.8;
	color: gray('600');
}
::-moz-selection { 
  color: $white;
  background: $primary;
}
::selection {
  color: $white; 
  background: $primary;
}
a {
	transition: .3s all ease;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
h1, h2, h3, h4, h5 {
	color: $black;
	font-family: $font-family-serif;
}

.container-fluid {
	max-width: 1600px;
}
.btn {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 50px;
	&.uppercase {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: .2em;
	}
	&.btn-outline-primary {
		&:hover {
			// border: 
		}
	}
}
.btn, .form-control {
	outline: none;
	box-shadow: none!important;
	&:focus, &:active {
		outline: none;
	}
}
.form-control {
	box-shadow: none!important;
	height: 50px;
	border-width: 2px;
}
textarea.form-control {
	height: inherit;
}
.site-header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 60px 0;
	z-index: 2;
}
.menu-open {
	.site-header {
		position: fixed;
	}
}
.site-logo {
	a {
		font-size: 30px;
		color: $white;
		font-weight: bold;
		line-height: 1;
		font-family: $font-family-serif;
	}
}
.site-navbar {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	// padding: 20px;
	background: $white;
	min-height: 300px;
	overflow-y: scroll;
	nav {
		text-align: left;
		.menu {
			font-family: $font-family-serif;
			li {
				a {
					color: $black;
					font-size: 40px;
					padding: 5px 10px;
					position: relative;
					&:before {
						content: "";
						position: absolute;
						bottom: 0;
						height: 50%;
						width: 0%;
						z-index: -1;
						background: $primary;
						transition: .3s all ease-in-out;
					}
					&:hover {
						&:before {
							width: 100%;
						}
					}
				}
				&.active {
					a {
						&:before {
							width: 100%;
						}
					}
				}
			}
		}
	}
	.extra-info {
		a {
			color: $black;
		}
		ul {
			li {
				a {
					color: $black;
				}
			}
		}
		h3 {
			font-family: $font-family-sans-serif;
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: .2em;
			color: gray('500');
			margin-bottom: 30px;
		}
		p {
			color: gray('900');
		}

	}
}
// Hero
.full-height {
	height: 100vh;
	min-height: 700px;
}
.site-hero {
	background-size: cover;
	height: 100vh;
	min-height: 700px;	
	width: 100%;
	.scroll-down {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		color :$white;
	}
	&.overlay {
		&:before {
			background: rgba(0,0,0,.45);
			content: "";
			position: absolute;
			height: 100vh;
			min-height: 700px;	
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
}

.site-hero-inner {
	height: 100vh;
	min-height: 700px;

	.heading {
		font-size: 80px;
		font-family: $font-family-serif;
		color: $white;
		line-height: 1;
		font-weight: bold;
		@include media-breakpoint-down(md) {
			font-size: 40px;
		}
	}
	.sub-heading {
		font-size: 30px;
		font-weight: 200;
		color: $white;
		line-height: 1.5;
		@include media-breakpoint-down(md) {
			font-size: 18px;
		}
	}
}
.page-inside {
	.site-hero-inner, & {
		height: 70vh;
		min-height: 500px;
	}
	&.overlay {
		&:before {
			height: 70vh;
			min-height: 500px;
		}
	}
}
// burger menu
.menu-open {
	.site-menu-toggle {
		span {
			background: $black;
		}
	}
}
.site-menu-toggle {
	float: right;
	width: 40px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  z-index: 200;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
  	display: block;
	  position: absolute;
	  height: 2px;
	  width: 100%;
	  background: $white;
	  border-radius: 9px;
	  opacity: 1;
	  left: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: .25s ease-in-out;
	  -moz-transition: .25s ease-in-out;
	  -o-transition: .25s ease-in-out;
	  transition: .25s ease-in-out;
  }

  span:nth-child(1) {
	  top: 0px;
	}

	span:nth-child(2) {
	  // top: 18px;
	  top: 10px;
	}

	span:nth-child(3) {
	  // top: 36px;
	  top: 20px;
	}

	&.open span:nth-child(1) {
	  // top: 18px;
	  top: 13px;
	  -webkit-transform: rotate(135deg);
	  -moz-transform: rotate(135deg);
	  -o-transform: rotate(135deg);
	  transform: rotate(135deg);
	}

	&.open span:nth-child(2) {
	  opacity: 0;
	  left: -60px;
	}

	&.open span:nth-child(3) {
	  // top: 18px;
	  top: 13px;
	  -webkit-transform: rotate(-135deg);
	  -moz-transform: rotate(-135deg);
	  -o-transform: rotate(-135deg);
	  transform: rotate(-135deg);
	}

}

// section
.section {
	padding: 7em 0;
	@include media-breakpoint-down(md) {
		padding: 3em 0;
	}
}
.lead {
	@include media-breakpoint-down(md) {
		font-size: 16px;
	}	
}
.visit-section {
	.heading {
		font-size: 15px;
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		color: darken(#ccc, 10%);
		letter-spacing: .2em;
		margin-bottom: 30px;
	}
	.visit {
		a {
			color: $black;
			&:hover {
				color: $primary;
			}
		}
		img {
			box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
			margin-bottom: 15px;
		}
		h3 {
			font-size: 20px;
			margin-bottom: 0;
		}
	}
	.reviews-star {
		span {
			font-size: 18px;
			color: $primary;
		}
	}
	.reviews-count {
		color: gray('500');
		font-style: italic;
	}
}

.heading-serif {
	font-size: 80px;
	font-family: $font-family-serif;
	@include media-breakpoint-down(md) {
		font-size: 40px;
	}
}
// best place
.bg-pattern {
	background: gray('200') url('../img/round.png');
}
.testimonial-section {
	.heading {
		@extend .heading-serif;
	}
}
.slider-section {
	position: relative;
	.heading {
		@extend .heading-serif;
	}
}
// blog
.blog-post-entry {
	position: relative;
	margin-top: -500px;
	padding-top: 500px;
	@include media-breakpoint-down(md) {
		margin-top: -300px;
		padding-top: 300px;
	}
	.heading {
		@extend .heading-serif;
	}
}
.half {
	.image, .text {
		width: 50%;
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}
	.image {
		background-size: cover;
		background-position: center center;
		@include media-breakpoint-down(md) {
			height: 300px;
		}
	}
	.text {
		padding: 100px 7%;
		@include media-breakpoint-down(md) {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		h2 {
			font-size: 70px;
			@include media-breakpoint-down(md) {
				font-size: 40px;
			}
		}
	}
}

.testimonial {
	blockquote {
		padding: 0;
		p {
			line-height: 1.5;
			font-family: $font-family-serif;
			font-size: 20px;
			color: $black;
			font-style: italic;
		}
	}
	.author-image {
		img {
			width: 70px;
		}
	}
}
.post {

	.media-custom {
		background: $white;
		transition: .3s all ease;
		box-shadow: 0 2px 5px -2px rgba(0,0,0,.1);
		&:hover, &:focus {
			box-shadow: 0 10px 30px -10px rgba(0,0,0,.1);
		}	
		a {
			color: $black;
			&:hover {
				color: $primary;
			}
		}
		.media-body {
			padding: 10px 30px;
		}
		h2 {
			font-size: 26px;
		}			
	}
}

.media-custom {
	.meta-post {
		color: gray('400');
		text-transform: uppercase;
		letter-spacing: .1em;
	}
}

// Owl Carousel 
.owl-carousel {


	.owl-item {
		opacity: .4;
		&.active {
			opacity: 1;
		}
	}
	
	.owl-nav {
		position: absolute;
		top: 50%;
		width: 100%;
		.owl-prev,
		.owl-next {
			position: absolute;
			transform: translateY(-50%);
			margin-top: -10px;
			&:hover, &:focus, &:active {
				outline: none;
			}
			span {
				&:before {
					font-size: 40px;
				}
			}
		}
		.owl-prev {
			
			left: 30px!important;
		}
		.owl-next {
			right: 30px!important;
		}
	}
	.owl-dots {
		text-align: center;
		.owl-dot {
			border-width: 2px!important;
			width: 10px;
			height: 10px;
			margin: 5px;
			border-radius: 50%;

		}
	}

	// big slider
	&.home-slider {
		z-index: 1;
		position: relative;
		.owl-nav {
			opacity: 0;
			visibility: hidden;
			transition: .3s all ease;
			button {
				color: $white;
			}
		}
		&:focus, &:hover {
			.owl-nav {
				opacity: 1;
				visibility: visible;
			}
		}

		.slider-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: calc(100vh - 117px);
			min-height: 700px;	
			position: relative;
			
			.slider-text {
				color: $white;
				height: calc(100vh - 117px);
				min-height: 700px;
				h1 {
					font-size: 40px;
					color: $white;
					line-height: 1.2;
					font-weight: 800!important;
					text-transform: uppercase;
					@include media-breakpoint-down(md) {
						font-size: 40px;
					}
				}
				p {
					font-size: 20px;
					line-height: 1.5;
					font-weight: 300;
					color: rgba(255,255,255,1);
				}
			}
			&.dark {
				.child-name {
					color: $black;
				}
				h1 {
					color: $black;
				}
				p {
					color: $black;
				}
			}
		}
		
		.owl-dots {
			position: absolute;
			bottom: 100px;
			width: 100%;

			.owl-dot {
				width: 10px;
				height: 10px;
				margin: 5px;
				border-radius: 50%;
				border: 2px solid transparent;
				outline: none!important;
				position: relative;
				transition: .3s all ease;
				background: $white;
				&.active {
					border: 2px solid rgba(255,255,255,1);
					// background: $pr;
					background: none;
					span {	
						// background: rgba(0,0,0,1);
					}	
				}
			}

		}
	}
	&.major-caousel {
		box-shadow: 0 10px 70px -10px rgba(0,0,0,.2);
		.owl-stage-outer {
			padding-top: 0!important;
			padding-bottom: 0!important;
		}
		
		.owl-stage-outer {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.slider-item {
			height: inherit;
			min-height: inherit;
			
			img {
				margin-bottom: 0;

			}
		}
		.owl-nav {
			opacity: 1;
			visibility: visible;
			.owl-prev, .owl-next {
				transition: .3s all ease;
				color: gray('700');
				&:hover, &:focus {
					color: gray('600');
					outline: none;
				}
				&.disabled {
					color: gray('300');
				}
			}
			.owl-prev {
				left: -60px!important;
			}
			.owl-next {
				right: -60px!important;
			}
		}
		.owl-dots {
			bottom: 50px!important;
			@include media-breakpoint-down(md) {
				bottom: 10px!important;
			}
		}
	}
}
.owl-custom-nav {
	float: right;
	position: relative;
	z-index: 10;
	.owl-custom-prev,
	.owl-custom-next {
		padding: 10px;
		font-size: 30px;
		background: #ccc;
		line-height: 0;
		width: 60px;
		text-align: center;
		display: inline-block;
	}
} 

.footer-section {
	background: lighten($black, 10%);
	color: $white;
	a {
		color: rgba(255,255,255,.7);
		&:hover {
			color: $white;
		}
	}
	p {
		color: rgba(255,255,255,.5);
	}
	.bordertop {
		border-top: 1px solid rgba(255,255,255,.1);
		padding-top: 20px;
	}
	.contact-info {
		span.d-block {
			font-style: italic;
			color: $white;
		}
	}
	.social {
		a {
			font-size: 18px;
			padding: 10px;
		}
	}
	.link {
		li {
			margin-bottom: 10px;
		}
	}
}
.footer-newsletter {

	.form-group {
		position: relative;
	}
	.form-control {
		background: none;
		border: none;
		border-bottom: 1px solid rgba(255,255,255,.2);
		border-radius: 0;
		color: $white;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: rgba($white, .2);
		  font-style: italic;
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: rgba($white, .2);
		  font-style: italic;
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: rgba($white, .2);
		  font-style: italic;
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: rgba($white, .2);
		  font-style: italic;
		}

		&:active, &:focus {
			border-bottom: 1px solid rgba(255,255,255,1);
		}
	}

	button[type="submit"] {
		background: none;
		color: $white;
		position: absolute;
		top: 0;
		right: 0;

	}
}

.side-box {
	padding: 30px;
	background: $white;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
	margin-bottom: 30px;
	.heading {
		font-size: 18px;
		margin-bottom: 30px;
		font-family: $font-family-sans-serif;
	}
}

.post-list {
	li {
		margin-bottom: 20px;
		a {
			> div {
				margin-top: -10px;
				
			}
			.meta {
				font-size: 13px;
				color: gray('500');
			}
			.image {
				width: 150px;
			}
			h3 {
				font-size: 16px;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.sidebar-search {
	@extend .side-box;
	.form-group {
		position: relative;
		margin-bottom: 0;
	}
	.icon-search	{
		position: absolute;
		top: 50%;
		left: 15px;

		transform: translateY(-50%);
	}
	.search-input {
		border-color: gray('300');
		padding-left: 40px;
		border-radius: 0px;
		&:focus, &:active {
			border-color: gray('800');
		}
	}
}

.contact-section {
	.contact-info {
		p {
			color: rgba(255,255,255,1);
			font-family: $font-family-serif;
			font-size: 30px;
			margin-bottom: 30px;
			.d-block {
				font-size: 14px;
				letter-spacing: .2em;
				font-family: $font-family-sans-serif;
				text-transform: uppercase;
				color: rgba(255,255,255,.5);
			}
			
		}
	}
}
.post-categories {
	li {
		display: block;
		a {
			display: block;
			position: relative;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid gray('200');
			.count {
				position: absolute;
				top: 0;
				right: 0;
				color: gray('600');
			}
		}
	}
}
.custom-pagination {
	.page-item {
		.page-link {
			text-align: center;
			border: none;
			background: none;
			border-radius: 50%!important;
			width: 50px;
			height: 50px;
			padding: 0;
			line-height: 50px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		&.active {
			.page-link {
				
				background: $red;
				
				box-shadow: 0 2px 7px 0  rgba(0,0,0,.2);
			}
		}
	}
}